/* 
    .logo {
        width: 500px;
        display: flex;
        align-items: flex-start;
        margin-left: 60px;

    }

    .img-1 {
        width: 85px;
        height: auto;
    }




    .menu {
        width: 500px;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        list-style: none;

    }


    .menu li a {
        text-decoration: none;
        color: black;
        text-decoration-color: black;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
    } */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.header {
  background-color: black;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.aboutus {
  margin-top: 150px;
}

.title-1 {
  color: mediumblue;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 45px;
  font-weight: bold;
  margin-left: 55px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.paragraph-1 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  word-spacing: 1px;
  letter-spacing: 1px;
  font-weight: 10px;
  color: #0a0a0a;
  margin: 35px 60px;
}

.section-1 {
  margin-top: 40px;
}
.section-1:hover .img-2 {
  transform: scale(1.2);
  transition: all 1.2s;
}

.title-2 {
  color: mediumblue;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 35px;
  margin-left: 55px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.hotel-container {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}

.paragraph-2 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  word-spacing: 1px;
  font-weight: 10px;
  color: #0a0a0a;
  margin: 100px 60px;
}

.texto-1 {
  font-size: 25px !important;
}

.section-2 {
  margin-top: 40px;
  width: 100%;
}
.section-2:hover .img-3 {
  transform: scale(1.2);
  transition: all 1.2s;
}

.title-3 {
  color: mediumblue;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 35px;
  margin-left: 55px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.paragraph-3 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  word-spacing: 1px;
  font-weight: 10px;
  color: #0a0a0a;
  margin: 80px 20px;
}

.section-3 {
  margin-top: 30px;
}
.section-3:hover .img-4 {
  transform: scale(1.2);
  transition: all 1.2s;
}

.title-4 {
  color: mediumblue;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 35px;
  margin-left: 55px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.empleo-container {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}

.paragraph-4 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  word-spacing: 1px;
  font-weight: 10px;
  color: #0a0a0a;
  margin: 100px 60px;
}

.section-4 {
  background-color: #3da0a0;
  margin: 50px 0px;
  padding: 50px;
  width: 100%;
}

.iconos-container {
  margin-left: 100px;
}

.mundo-img {
  margin-left: 50px;
}

.ubicacion-item {
  margin-left: 48px;
  margin-top: 5px;
}

.title-5 {
  color: #0c0c0e;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  margin-top: 10px;
}

.title-6 {
  color: #0c0c0e;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  margin-top: 10px;
}

.title-7 {
  color: #0c0c0e;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
}

.paragraph-5 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 10px;
  font-weight: lighter;
  color: #0a0a0a;
  margin-top: 10px;
  margin-right: 80px;
  width: 150px;
}

.valija-img {
  margin-left: 100px;
}

.trabajo-item {
  margin-left: 100px;
}

.paragraph-6 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 10px;
  font-weight: lighter;
  color: #0a0a0a;
  margin-top: 10px;
  margin-right: 80px;
  width: 150px;
}

.estrella-img {
  margin-left: 100px;
}

.estrella-item {
  margin-left: 100px;
}

.paragraph-7 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 10px;
  font-weight: lighter;
  color: #0a0a0a;
  margin-top: 10px;
  margin-right: 80px;
  width: 150px;
}

.section-5 {
  margin-top: 100px;
  margin-bottom: 50px;
  width: 100%;
}

.exp-2 {
  margin-left: 80px;
}

.img-11 {
  border-radius: 50%;
  width: 80%;
  height: auto;
  margin-left: 30px;
}

.img-12 {
  border-radius: 50%;
  width: 80%;
  height: auto;
  margin-left: 50px;
}

.img-13 {
  border-radius: 50%;
  width: 80%;
  height: auto;
  margin-left: 100px;
}

.title-8 {
  color: mediumblue;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 35px;
  margin-right: 70px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.title-9 {
  color: mediumblue;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 35px;
  margin-right: 55px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.title-10 {
  color: mediumblue;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 35px;
  margin-left: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.paragraph-8 {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  word-spacing: 1px;
  font-weight: 10px;
  font-style: italic;
  color: #0a0a0a;
  margin-right: 70px;
}

.paragraph-9 {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  word-spacing: 1px;
  font-weight: 10px;
  font-style: italic;
  color: #0a0a0a;
  margin-left: 30px;
}

.paragraph-10 {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  word-spacing: 1px;
  font-weight: 10px;
  font-style: italic;
  color: #0a0a0a;
  margin-left: 130px;
}

.footer-1 {
  background-color: black;
  padding: 10px;
  width: 100%;
}

.title-11 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: white;
  font-size: 25px;
  margin-right: 55px;
  padding: 30px;
  text-align: center;
}

.social {
  text-align: center;
}

.logos {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}
.logos li a {
  text-decoration: none;
}

.hoteles-1 {
  margin-top: 13rem !important;
}

.emprendimientos-1 {
  margin-top: 13rem !important;
}

.trabajo-1 {
  margin-top: 13rem !important;
}

.menu-2 .credenciales-2 a {
  font-family: "Open Sans", sans-serif !important;
  margin-bottom: 50px;
  margin-left: 80px;
  border-radius: 50%;
  color: white !important;
  font-weight: bold;
  text-decoration: underline;
}

.menu-1 .credenciales-1 a {
  font-family: "Open Sans", sans-serif !important;
  margin-top: 20px;
  margin-left: 50px;
  color: white !important;
}

.texto-1, .texto-2, .texto-3 {
  font-size: 20px;
}

.emprendimientos {
  margin-top: 130px;
}
.emprendimientos .title-emprendimiento {
  color: mediumblue;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 45px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.navbar-color {
  background-color: white;
}

.inicia {
  margin-top: 200px !important;
  margin-left: 150px;
}

.registro {
  margin-top: 200px;
  margin-left: 60px;
}

.nombre-pag {
  color: dodgerblue;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 50px;
}

.title-inicia {
  margin-top: 280px;
  margin-left: 100px;
}

.img-inicia {
  margin-left: 70px;
}

.title-registro {
  margin-top: 280px;
  margin-left: 10px;
}

.img-registro {
  margin-left: 70px;
}

.section-7 {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
